@import "../../../../styles/values"


app-schedule-form
  width: 100%
  max-width: 1180px
  height: 555px
  display: flex
  flex-direction: column
  align-items: center
  .form-tag
    font-family: Roboto-Medium
    font-size: 34px
    font-weight: normal
    margin: 35px 0
  .schedule-form
    width: 100%
    display: flex
    .form-line
      border-right: 1px solid $border-light
    .blocks-wrap
      height: 410px
      width: 50%
      display: flex
      flex-direction: column
      padding-left: 30px
      .form-block-tag
        font-family: Roboto-Medium
        font-size: 18px
        margin-bottom: 5px
      .form-group
        display: flex
        margin-bottom: 30px
        .block-wrap
          position: relative
          display: flex
          flex-direction: column
          margin-right: 30px
          width: 240px
          height: 52px
          .fake-checkbox
            display: flex
            align-items: center
            text-transform: capitalize
            margin-bottom: 15px
            .check-wrap
              cursor: pointer
              width: 17px
              height: 17px
              border: 1px solid $text-grey
              margin-right: 5px
              display: flex
              align-items: center
              justify-content: center
              svg
                width: 80%
                height: 80%
            span
              margin: 0
          .form-small
            font-size: 13px
            margin-bottom: 10px
            font-weight: bold
            display: flex
            flex-direction: column
          .light
            color: $mid-grey
          .dark
            color: $dark-grey
          .service-desc
            white-space: nowrap
            text-transform: initial
            position: relative
            top: -10px
        .form-mess
          width: 510px
      .form-btn-wrap
        justify-content: space-between
        margin: 0
        .form-btn
          display: flex
          justify-content: center
          align-items: center
          background-color: $white
          color: $main-color
          border: 1px solid $main-color
          border-radius: 3px
          height: 52px
          width: 135px
          margin-right: 47px
          cursor: pointer
          &:hover
            background-color: $main-color
            color: $white