@import "styles/values"

html, body
  position: absolute
  top: 0
  left: 0
  width: 100%
  margin: 0
  padding: 0
  color: $main-color

@import "app/app.component"
@import "app/components/header/header.component"
@import "app/components/footer/footer.component"